* {
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    text-align: center;
}
h2 {
    margin-top: 20px;
}
.button1 {
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    color: antiquewhite;
    font-size: 40px;
    float: right;
    
}
.lasagnaimage {
    height: auto;
    width: 300px;
    float: right;
}